* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Gill;
  src: url(fonts/GillSans.ttc);
}
.hero {
  width: 1280px;
  height: 500px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/plane.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
}

.photo {
  color: #fff;
  font-size: 60px;
  padding-top: 80px;
  display: block;
  text-align: center;
  font-family: "Proxima Nova";
}

.lorem {
  color: #fff;
  font-size: 20px;
  display: block;
  text-align: center;
  font-family: "Gill Sans";
  font-style: italic;
  font-weight: 200;
}

.square {
  background-color: #618dd8;
  width: 122px;
  height: 40px;
  color: #fff;
  margin: 0 auto;
}

.read {
  font-size: 15px;
  display: block;
  text-align: center;
  padding-top: 11px;
  font-family: "Gill Sans";
}

.promo-tours {
  width: 1280px;
  height: 304px;
  margin: -50px auto 0 auto;
  display: flex;
  justify-content: space-around;
  padding-left: 160px;
  padding-right: 160px;
}

.promo1 {
  height: 304px;
  width: 236px;
  background-image: url(../images/Group50.jpg);
}

.israel {
  color: #fff;
  font-size: 60px;
  display: block;
  text-align: center;
  font-family: "Proxima Nova";
  padding-top: 56px;
}

.box {
  background-color: #618dd8;
  width: 133px;
  height: 40px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 999px;
}

.learn {
  color: #fff;
  font-size: 15px;
  font-family: "Gill Sans";
  display: block;
  text-align: center;
  padding-top: 12px;
}

.promo2 {
  height: 304px;
  width: 236px;
  background-image: url(../images/Group36.jpg);
}

.country {
  color: #fff;
  font-size: 60px;
  display: block;
  text-align: center;
  font-family: "Proxima Nova";
  padding-top: 56px;
}

.promo3 {
  height: 304px;
  width: 236px;
  background-image: url(../images/Group37.jpg);
}

.countryPrice {
  color: #fff;
  font-size: 30px;
  display: block;
  text-align: center;
  margin-top: -23px;
  font-family: "Proxima Nova";
}

footer {
  width: 1280px;
  height: 100px;
  background-color: #618dd8;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.footerLogo {
  width: 92px;
  height: 42px;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 20px;
  font-family: "Gill Sans";
  margin-left: 56px;
}

.copyright {
  color: #fff;
  font-size: 12px;
  font-family: "Gill Sans";
  margin: 0;
}

.facebook {
  width: 30px;
  height: 30px;
  float: right;
  margin-left: 20px;
}

.instagram {
  width: 30px;
  height: 30px;
  float: right;
  margin-left: 20px;
}

.twitter {
  width: 30px;
  height: 30px;
  float: right;
  margin-left: 20px;
}

.socials {
  padding-right: 90px;
}

.booking-form {
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.book {
  font-size: 60px;
  font-family: "Proxima Nova";
  padding-top: 59px;
  width: 100%;
  display: inline-flex;
}

.input {
  border: solid;
  border-color: #618dd8;
  border-width: 1px;
  width: 344px;
  height: 58px;
  margin-top: 32px;
  display: inline-flex;
}

.input2 {
  border: solid;
  border-color: #618dd8;
  border-width: 1px;
  width: 453px;
  height: 58px;
  margin-top: 32px;
  display: inline-flex;
}

.name {
  font-size: 18px;
  font-family: "Gill Sans";
  letter-spacing: 1px;
  padding-top: 20px;
  padding-left: 19px;
}

.checkIn {
  font-size: 18px;
  font-family: "Gill Sans";
  width: 150px;
  margin-top: 55px;
}

.input3 {
  border: solid;
  border-color: #618dd8;
  border-width: 1px;
  width: 698px;
  height: 58px;
  margin-top: 32px;
  display: inline-flex;
}

.calendar {
  width: 19px;
  height: 19px;
  margin-left: 525px;
  margin-top: 18px;
  background-image: url(../images/calendar.jpg);
}

.adults {
  width: 118px;
}

.numberBoxName {
  font-size: 18px;
  font-family: "Gill Sans";
  margin-top: 55px;
}

.numberBox {
  border: solid;
  border-color: #618dd8;
  border-width: 1px;
  width: 103px;
  height: 58px;
  margin-top: 32px;
  display: inline-flex;
}

.arrow {
  background-image: url(../images/down-arrow.jpg);
  width: 20px;
  height: 10px;
  margin-left: 38px;
  margin-top: 24px;
}

.messageBox {
  border: solid;
  border-color: #618dd8;
  border-width: 1px;
  width: 880px;
  height: 192px;
  margin-top: 32px;
}

.submitBox {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 100px;
}

.submit {
  font-size: 15px;
  color: #fff;
  background-color: #618dd8;
  font-family: "Gill Sans";
  display: block;
  text-align: center;
  width: 880px;
  height: 61px;
  padding-top: 25px;
  border-radius: 999px;
}

nav {
  width: 980px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: #fff solid 2px;
}

.logo {
  width: 92px;
  height: 42px;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 20px;
  font-family: "Gill Sans";
}

.links {
  width: 542px;
  height: 42px;
  align-self: center;
  display: flex;
  font-size: 15px;
  font-family: "Gill Sans";
}
.links a {
  text-decoration: none;
  color: #fff;
  margin: auto;
}

.divider {
  height: 22px;
  margin-top: 11px;
  width: 1px;
  background: #618dd8;
}