.booking-form {
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.book {
  font-size: 60px;
  font-family: "Proxima Nova";
  padding-top: 59px;
  width: 100%;
  display: inline-flex;
}

.input {
  border: solid;
  border-color: $site-blue;
  border-width: 1px;
  width: 344px;
  height: 58px;
  margin-top: 32px;
  display: inline-flex;
}

.input2 {
  border: solid;
  border-color: $site-blue;
  border-width: 1px;
  width: 453px;
  height: 58px;
  margin-top: 32px;
  display: inline-flex;
}

.name {
  font-size: 18px;
  font-family: "Gill Sans";
  letter-spacing: 1px;
  padding-top: 20px;
  padding-left: 19px;
}

.checkIn {
  font-size: 18px;
  font-family: "Gill Sans";
  width: 150px;
  margin-top: 55px;
}

.input3 {
  border: solid;
  border-color: $site-blue;
  border-width: 1px;
  width: 698px;
  height: 58px;
  margin-top: 32px;
  display: inline-flex;
}

.calendar {
  // background-color: bisque;
  width: 19px;
  height: 19px;
  margin-left: 525px;
  margin-top: 18px;
  background-image: url(../images/calendar.jpg);
}

.adults {
  width: 118px;
}

.numberBoxName {
  font-size: 18px;
  font-family: "Gill Sans";
  margin-top: 55px;
}

.numberBox {
  border: solid;
  border-color: $site-blue;
  border-width: 1px;
  width: 103px;
  height: 58px;
  margin-top: 32px;
  display: inline-flex;
}

.arrow {
  background-image: url(../images/down-arrow.jpg);
  width: 20px;
  height: 10px;
  margin-left: 38px;
  margin-top: 24px;
}

.messageBox {
  border: solid;
  border-color: $site-blue;
  border-width: 1px;
  width: 880px;
  height: 192px;
  margin-top: 32px;
}

.submitBox {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 100px;
}

.submit {
  font-size: 15px;
  color: $white;
  background-color: $site-blue;
  font-family: "Gill Sans";
  display: block;
  text-align: center;
  width: 880px;
  height: 61px;
  padding-top: 25px;
  border-radius: 999px;
}
